<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptocurrency Prices</title>
  </head>
  <body>
    <!-- {{data}} -->
    <h1>Cryptocurrency Prices</h1>
    {{last_updated}}
    <div id="crypto-prices">
      {% for currency in currencies %}
      <div class="currency">
        <h2>{{ currency.name }}</h2>
        <p>Price: ${{ currency.value }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
